{% extends "_base.html" %}


{% block content %}

<div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                    <h1 class="page-title">ورود</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-sm--50">
                    <div class="col-md-12">
                        <div class="login-box">
                            <h3 class="heading__tertiary mb--30">ورود</h3>
                            <form class="form form--login">
                                <div class="form__group mb--20">
                                    <label class="form__label form__label--2" for="username_email">ایمیل شما <span class="required">*</span></label>
                                    <input type="text" class="form__input form__input--2" id="username_email" name="username_email">
                                </div>
                                <div class="form__group mb--20">
                                   <label class="form__label form__label--2" for="login_password">رمز عبور <span class="required">*</span></label>
                                    <input type="password" class="form__input form__input--2" id="login_password" name="login_password">
                                </div>
                                <a class="forgot-pass" href="#">فراموشی رمز عبور؟</a>
                                <span>|</span>
                                <a class='forgot-pass' href="{% url "account_signup" %}">ایجاد حساب کاربری</a>
                                <div class="d-flex align-items-center mt--20">
                                    <div class="form__group">
                                        <input type="submit" value="ورود" class="btn-submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                            {% endblock content %}
