{% load static %}
<html  class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MyMarket</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static 'css/_base.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body dir='rtl'>
    {% include "inc/_header.html" %}
    {% include "inc/_messages.html" %}
    {% block content %}
    
    {% endblock content %}
        <!-- jQuery JS -->
        <script src="{% static 'js/vendor.js' %}"></script>

        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>